.avatar {
    vertical-align: middle;
    width: 60vw;
    height: 30vh;
    border-radius: 100%;
  }
  .mdiv{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      overflow:auto;
  }
  .div1{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 2vh;
  }
  
  .div2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5vw;
}
  .bx1 {
    display: block;
    cursor: pointer;
    border: 4px solid #3498db;
    overflow: hidden;
    border-radius:10px;
    padding:2vw 3vh;
    height: 30vw;
    width: 36vw;
    color: #3498db;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(139.05deg, #F90606 0%, #651EB7 97.89%);
    background-size: 400% 400%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    animation: gradient 5s ease infinite;
    
}
.bx2 {
    display: block;
    cursor: pointer;
    border: 4px solid #3498db;
    overflow: hidden;
    border-radius:10px;
    padding:2vw 3vh;
    height: 30vw;
    width: 36vw;
    color: #3498db;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(226.98deg, #00B1FF -8.78%, #FF5454 100%);
    background-size: 400% 400%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    animation: gradient 5s ease infinite;
}
.bx3 {
    display: block;
    cursor: pointer;
    border: 4px solid #3498db;
    overflow: hidden;
    border-radius:10px;
    padding:2vw 3vh;
    height: 30vw;
    width: 36vw;
    color: #3498db;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(180deg, #FF0000 0%, #800000 100%);
    background-size: 400% 400%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    animation: gradient 5s ease infinite;
}
.bx4 {
    display: block;
    cursor: pointer;
    border: 4px solid #3498db;
    overflow: hidden;
    border-radius:10px;
    padding:2vw 3vh;
    height: 30vw;
    width: 36vw;
    color: #3498db;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(224.19deg, #FF0000 0%, #D700FF 105.62%);
    background-size: 400% 400%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}