.xyz{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: hidden;
}

  
.btn {
    display: block;
    cursor: pointer;
    border: 4px solid #3498db;
    overflow: hidden;
    border-radius:10px;
    height: auto;
    width: 48vw;
    color: #3498db;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(90deg, #ffff, #c01616, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 10s ease infinite;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.btn1 {
    display: block;
    cursor: pointer;
    border: 1px solid #3498db;
    padding-top: 2vh;
    background-color: transparent;
    overflow: hidden;
    height: auto;
    width: 96vw;
    color: #3498db;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    background: linear-gradient(45deg, #ec9f05, #ff4e00);
    background-size: 800% 800%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}