.app {
  text-align: center;
  position: absolute;
width: 100vw;
height: 100vh;
background: linear-gradient(180deg, rgba(255, 27, 27, 0.65) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 57, 200, 0.65) 40%, rgba(255, 1, 184, 0) 100%);
background-color: #383838;
}